// Styles page d'accueil
.location {
  background: $location-bg;
  @include flex-center;
  padding: 15px 0;
  gap: 15px;
  color: $dark-gray;
  font-weight: 500;

  i {
    font-size: 16px;
  }
}

.hero {
  background: $light-gray;
  text-align: center;
  padding: 40px 20px;

  h2 {
    font-family: $font-text;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    color: #000;
    text-align: center;
    font-style: normal;

    .mobile-br {
      display: none;
    }
  }

  p {
    font-size: 18px;
    color: $gray;
    margin-bottom: 30px;
  }
}

.btn-explore {
  @include button-gradient;
}

.functioning {
  padding: 50px 20px;
  max-width: $container;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 25px;
    color: $black;
  }
}

.steps {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.step {
  display: flex;
  align-items: center;
  background: $light-gray;
  padding: 25px 20px;
  border-radius: $radius;
  box-shadow: $shadow;
  position: relative;
  padding-left: 45px;
  flex: 1;
  max-width: 350px;
}

.step-num {
  background: $primary;
  color: $white !important;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @include flex-center;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
}

.step i {
  color: $gray;
  font-size: 20px;
  margin-right: 20px;
  width: 20px;
  text-align: center;
}

.step .fa-store {
  color: $primary;
}

.step span {
  font-weight: 500;
  color: $black;
}

.restaurants {
  background: $light-gray;
  padding: 50px 20px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: $black;
    max-width: $restaurant-container;
    margin: 0 auto 30px;
  }
}

.restaurant-grid {
  max-width: $restaurant-container;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.card {
  background: $white;
  border-radius: $radius;
  box-shadow: $shadow;
  overflow: hidden;
  position: relative;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-img {
  position: relative;
  height: 180px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: $tertiary;
  color: $badge-green;
  padding: 7px 10px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.card-body {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.card-text {
  flex: 1;

  h3 {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    margin-bottom: 0;
    line-height: 1.2;
  }

  p {
    font-size: 17px;
    color: $black;
    margin: 0;
  }
}
