// Mixins SCSS
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-gradient {
  background: linear-gradient(180deg, $secondary, $primary);
  color: #fff;
  text-align: center;
  font-family: $font-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: $btn-radius;
  padding: 16px 30px;
  cursor: pointer;
  box-shadow: $shadow-strong;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(
      180deg,
      lighten($secondary, 4%),
      lighten($primary, 4%)
    );
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }
}
