// Styles pages restaurants
.restaurant-hero {
  height: 470px;
  overflow: hidden;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.restaurant-main {
  background: #f7f7f7;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  z-index: 100;
  padding: 32px 17px 60px;
  min-height: calc(100vh - 240px);
}

.restaurant-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 0;
  gap: 24px;
}

.restaurant-title {
  font-family: $font-title;
  font-size: 38px;
  font-weight: 400;
  color: $black;
  font-style: oblique 8deg;
}
