// Variables SCSS
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$white: #fff;
$black: #000;
$gray: #7a7a7a;
$light-gray: #f6f6f6;
$dark-gray: #353535;
$location-bg: #eaeaea;
$badge-green: #008766;
$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;
$radius: 15px;
$btn-radius: 25px;
$shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
$shadow-strong: 0 4px 10px rgba(0, 0, 0, 0.25);
$container: 1200px;
$restaurant-container: 980px;
